# Node modules
node_modules/

# Build output
build/
dist/

# ASP.NET Core
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# IDE files
.vscode/
.idea/

# Redis cache
*.rdb
*.aof